@charset "utf-8";
@import url("lightbox.css");

/* CSS Document */



body {
	margin: 0; padding: 0;
	text-align: center;
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	background: url(../graphics/top/body.png) repeat-x;
	}

#wrap {
	margin: 0 auto;
	width: 920px;
	min-height: 900px;
	}

#page {
	margin: 0;
	width: 920px;
	text-align: left;
	float: left;
	}

	#top {
		background: url(../graphics/top/bg.png) no-repeat;
		float: left;
		height: 400px;
	}

	#top a { border: 0;}
	#top a img  {border: 0;}

	#top img.logo {
		padding:0;
		margin: -10px 0 0 0;
		}

	#topinfo {
		text-align: right;
		font-size: 10px;
		color: #666;
		padding: 20px 30px 0 0;
		}

	#navigation {
		width: 920px;
		float: left;
		clear: both;
		padding: 0;
		}

		ul#nav {
			list-style: none; float: left; width: 914px;
			margin: 20px 4px 0 6px; padding: 0;
			}

			ul#nav li {
				list-style: none; float: left;
				}



				ul#nav li a, ul#nav li a:link, ul#nav li a:visited {
					color: #000; font-weight: bold; float: left; text-align: center;
					text-decoration: none; font-size: 14px; width: 114px; padding: 10px 0 10px 0; margin: 0 ;
					background: url(../graphics/menuactive.png) no-repeat;
					}

				ul#nav li a:hover, ul#nav li a:active {
					color: #333;
					background: url(../graphics/menuactive.png) no-repeat;
					background-position: 0 -160px;
					}

				ul#nav li a.active {
					color: #fff;
					background: url(../graphics/menuactive.png) no-repeat;
					background-position: 0 -80px;
					}



	#content {
		width: 880px;
		float: left;
		padding: 0 20px;
		margin: -230px 0 0 0;
	}

		#content h1 {
			font-size: 60px; font-weight: normal; color: #333; text-align: left; padding,: 0 0 0 20px; float: left; clear: both; width: 600px;

			}

			#content .entry {
				padding:0 20px;
				float: left;
				clear: both;
				margin-bottom: 40px;
				}

			#content .entryhalf {
					padding: 0 20px;
					float: left;
					margin-bottom: 40px;
					width: 400px;
					min-height: 550px;
			}

			#content .wide {
				padding: 0;
				float: left;
				clear: both;
				margin-bottom: 40px;
			}

			.entry .toptext, .entryhalf .toptext {
				background: #222;
				color: #CCC;
				font-size: 16px;
				padding: 5px 5px 5px 10px;
				width: 865px;
				font-weight: bold;
			}

			.entry .toptext{
				text-align: center; padding: 5px;}

			.entry .frontsmall, .entryhalf .frontsmall {
				float: left;
				width: 435px;
			}


			.entry .frontsmall .toptext, .entryhalf .frontsmall .toptext {
				width: 425px;
				border-bottom: 4px solid #666;
			}

			.entry .left, .entryhalf .left {
				margin: 0 5px 0 0;
				float: left;

			}

			.entry .right, .entryhalf .right {
				margin: 0 0 0 5px;
				float: left;

			}

			.entry h2 , .entryhalf h2 {
				color: #000;
				font-size: 30px;
				font-weight: normal;
				margin: 0;border-bottom: 1px solid #777;
				width: 840px; float: left;
				page-break-before: always;
				}

			.entryhalf h2 {
				width: 410px;
			}

			.entry h3.legend, .entryhalf h3.legend {
				text-transform: uppercase;
				font-size: 14px;
				font-weight: normal;
				margin: 5px 0 10px 0;
				color: #333;
				}

			.entry h4, .entryhalf h4 {
				font-size: 24px; font-weight: bold;
				margin: 0; color: #222;
				}

			.entry h5, .entryhalf h5 {
				font-size: 16px; font-weight: bold;
				margin: 0; color: #333;
				}

			.entry h4.price, .entryhalf h4.price {font-size: 18px; text-align: right; width: 120px; float: left;}
			.entry h4.spec, .entryhalf h4.spec  {float: left; width: 280px; font-size: 18px;}
			.entry h4.pricesmall, .entryhalf h4.pricesmall {font-size: 14px; text-align: right; font-weight: normal;}
			.entry h4.pricelist, .entryhalf h4.pricelist {font-size: 16px; text-align: left;}
			.entry h4.pricewide {font-size: 18px; text-align: right; width: 560px; float: left; margin: 0; padding: 0;}

			.entry h4.pricesmall {width: 850px; float: left;}

			span.art {float: left; width: 82px; text-align: left; margin: 0 0 2px 0; background: #eee; padding: 4px;}
			span.color {float: left; width: 92px; text-align: left; margin: 0 0 2px 0; background: #eee;padding: 4px;}
			span.volt {float: left; width: 202px; text-align: left; margin: 0 0 2px 0; background: #eee;padding: 4px;}
			span.header {font-weight: bold; background: #ccc;}

			.entry span.art {float: left; width: 322px; text-align: left; margin: 0 0 2px 0; background: #eee; padding: 4px;}
			.entry span.color {float: left; width: 202px; text-align: left; margin: 0 0 2px 0; background: #eee;padding: 4px;}
			.entry span.volt {float: left; width: 302px; text-align: left; margin: 0 0 2px 0; background: #eee;padding: 4px;}
			.entry span.header {font-weight: bold; background: #ccc;}
			span.dim {
				color: #666;
				}

			.entry p, .entryhalf p {
				color: #333; font-size: 16px; line-height: 1.8;

				}

			.entry p {
				width: 840px;
				float: left;
				}


			p.productinfo img {clear: both; float: left; }
			p.productinfo img.left {clear: both; float: left; }

			.entry p.smallnote, .entryhalf p.smallnote {
				font-size: 11px;
				}

			table.pricelist {
				width:  840px;
				}

			table.small {
				width: 47%;
				padding: 2%;
				border: 1px solid #CCC;
				}


			table.openinghours {
				width: 50%;
				margin: 0 ;
				float :left;
				}

			table.openinghours td {
				font-size: 18px;
				}

			table.pricelist td{
				width:  auto;
				font-weight:  bold;
				font-size:  12px;
				border-bottom:  1px dotted #ccc;
				}

				table.small td {
					width: 60%;
					}


			table.pricelist td.spacer {
				border-bottom:  1px dotted #ccc;
				width:  50%;
				}

			table.pricelist td.notice {
			border: 0; font-size: 10px; text-transform: uppercase; text-align: right; padding: 0 10px 0 0;
			}


			table.pricelist td.linespacer {
				padding: 10px;
				border-bottom: 1px solid #fff;
				}

			table.pricelist th {
				font-size: 14px;
				text-align: right;
				padding-right: 10px;

				padding-bottom: 5px;
				}

			table.pricelist th.start {
				width: 200px;
				}

			table.pricelist td.item {
				width: 200px;
				font-size: 12px;
				}

			table.pricelist td.price {
				text-align:  right;
				padding-right: 10px;
				font-size: 12px;
				font-weight: normal;
				}

			table.pricelist td.blank {
				border-bottom:  0;
				padding:  10px;
				}

			.clear {
				clear: both;
				}

			h4.clear {padding-top: 20px;}
			h4.spec a {font-size: 14px;}

			h2 {
				float: left;
				clear: both;
				width: 90%;
				font-size: 24px;
				margin-top: -40px;
				margin-bottom: 40px;
				color: #666;
				}


			.entry p img.right {padding: 0px; margin: 0 0 10px 10px; border: 1px solid #ccc; float: right;}
			.entry p img.left {padding: 0px; margin: 0 10px 10px 0; border: 1px solid #ccc; float: left;}



			#footer {
				clear: both;
				font-size: 12px;
				font-weight: bold;
				vertical-align: bottom;
				margin: 0 auto;
				padding: 20px;
				color: #222;
				text-align: left;
				width: 880px;
				background: url(../graphics/bottom_bg.jpg) no-repeat;
				}


			#bottominfo {
				text-align: right;
				line-height: 100%;
				padding-right: 10px;
				}


			#footer a, #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
			color: #222; text-decoration: underline;
			}


			.landing h1 {
				padding: 40px 0 20px 0;
				}

			.landing p {
				font-size: 11px; color: #999999;
				padding: 40px 0 0 0;
				}


			a, a:link, a:visited {
				color: #333;
				text-decoration: underline;
				}


			div.dintemp {
				margin: 60px auto 0 auto;
				}


			p.frontsplash {font-size: 18px; text-align: center; width: 433px; height: 188px; border: 1px solid #ccc; margin: 0; padding: 10px 0 0 0;}
			p.frontsplash img {float: left; margin-top: -10px; }
			p.frontsplash a, p.frontsplash a img {border: 0; text-decoration: none;}

		/* slider */
		.slideshow { position:relative; height:500px; width:880px; }
		.slideshow img { position:absolute; left:0; top:0; width: 880px; height: 500px; }
		.slideshow a img{border: 0;}



form { float: left; width: 500px;}
fieldset {font-weight: bold; font-size: 0.8em; width: 100%;}
fieldset legend {padding: 5px;}
label {width: 130px; float: left; }
input {float: left;}
textarea {width: 280px;}

table {border: 1px solid #ccc; margin-bottom: 30px;}

table th {
	font-weight: bold; background: #333; color: white;
	}

table th, table td {
	font-size: 12px; width: 150px; text-align: center; border: 1px solid #ccc; margin: 0; padding: 10px;
	}

table th.side {width: 300px; text-align: left;}

table.fakta, table.fakta tr, table.fakta tr th, table.fakta tr td {
		border: 1px solid #888;
}

table.fakta tr {border: 0;}
