@charset "UTF-8";
/* CSS Document */
*{padding:0;margin:0;list-style:none;outline:none;}
body{font:14px Tahoma, Geneva, sans-serif;}
#slideshowWrapper{position:relative;width:646px;margin:auto;}
#fssPrev{position:absolute;top:169px;left:-67px;background:url(arrows.png) -67px 0px;width:67px;height:143px;text-indent:-999999px;}
#fssNext{position:absolute;top:169px;left:646px;background:url(arrows.png) no-repeat;width:67px;height:143px;text-indent:-999999px;}
#fssPlayPause{position:absolute;top:435px;right:20px;background:url(white.png) repeat;padding:4px 0 5px 0;-moz-border-radius:5px;border-radius:5px;width:60px;text-align:center;display:block;color:#333;text-decoration:none;}

ul#slideshow{list-style:none;border:1px solid #999;padding:2px;margin:auto;margin-top:5%;width:640px;height:480px;overflow:hidden;}
p{text-align:center;}
#fssList{list-style:none;width:646px;margin:auto;padding:5px 0 0 45%;}
#fssList li{display:inline;padding-right:10px;}
#fssList li a{color:#999;text-decoration:none;}
#fssList li.fssActive a{font-weight:bold;color:#333;}

#top{background:#3b5998;width:100%;height:40px;margin-bottom:20px;}
#top h1{color:#fff;font-weight:normal;font-size:18px;padding:7px 0 0 15px}
#top h1 span{font-size:11px;}
#top h1 a{text-decoration:underline;color:#fff;}
#top h1 a:hover{text-decoration:none;}
#navi{float:right;font-size:12px;padding-right:20px;}
#navi li{float:left;width:100px;}
#navi a{display:block;widht:100px;text-align:center;height:30px;padding-top:12px;color:#7293d8;text-decoration:none;}
#navi a:hover, #navi a.active{color:#fff;}

small a{color:#000;}

.note{background:#fff9d7;color:#e2c822;padding:20px;color:#333;width:620px;margin:auto;font-size:11px;}
.note p{margin-bottom:15px;line-height:140%;text-align:left;}
.note a{color:#3b5998;text-decoration:underline;}
.note a:hover{text-decoration:none;}